@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --bg-black-700: #504e70;
}

body {
  line-height: 1.5;
  font-size: 16px;
  font-family: "poppins" sans-serif;
}
* {
  padding: 0;
  margin: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}
/* home section css start*/
ul {
  list-style: none;
}
.section {
  background-color: var(--bg-black-900);
  min-height: 100vh;
  display: block;
  padding: 0 30px;
  opacity: 1;
}
.home {
  color: var(--text-black-900);
  display: flex;
  min-height: 100vh;
}
.main-content {
  padding-left: 270px;
}
.home-img img {
  height: 400px;
  margin: auto;
  border-radius: 5px;
}
.home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}
.home-img::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
  right: 20px;
  bottom: -40px;
}
.home-img::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
  left: 20px;
  top: -40px;
}
.home-info {
  flex: 0 0 50%;
  max-width: 100%;
}
h3.hello {
  margin: 15px 0;
  font-size: 28px;
}

h3.hello span {
  font-family: "Clicker Script", cursive;
  font-size: 30px;
  font-weight: 700;
  color: var(--skin-color);
}
h3.my-profession {
  font-size: 28px;
  margin: 15px 0;
}
.typing {
  color: var(--skin-color);
}
.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
  color: var(--text-black-900);
}
.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 15px 35px;
  color: white;
  border-radius: 40px;
  background-color: var(--skin-color);
  display: inline-block;
  white-space: nowrap;
  border: none;
  transition: all 0.3s ease;
  letter-spacing: 1px;

}
.btn:hover {
  transform: scale(1.05);
}

.pad-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}
/* aside css start */
.aside {
  width: 270px;
  background-color: var(--bg-black-100);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding: 30px;
  height: 100%;
  display: flex;
  justify-content: centre;
  align-items: center;
  border-right: var(--bg-black-50);
}
.aside .logo {
  position: absolute;
  top: 50px;
  font-size: 30px;
  text-transform: capitalize;
}

.aside .logo a {
  color: var(--text-black-900);
  font-weight: 700;

  padding: 15px 20px;
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
}
.aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 40px;
}
.aside .logo a::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-bottom: 5px solid var(--skin-color);
  border-left: 5px solid var(--skin-color);
  bottom: 0;
  left: 0;
}
.aside .logo a::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-top: 5px solid var(--skin-color);
  border-right: 5px solid var(--skin-color);
  top: 0;
  right: 0;
}
.aside .nav-toggle {
  height: 40px;
  width: 45px;
  border: 1px solid var(--bg-black-50);
  cursor: pointer;
  position: fixed;
  left: 300px;
  top: 20px;
  border-radius: 5px;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-black-100);
}
.aside .nav-toggle span {
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  display: inline-block;
  position: relative;
}
.aside .nav-toggle span::before {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  top: -6px;
  left: 0;
}
.aside .nav-toggle span::after {
  content: "";
  height: 2px;
  width: 18px;
  background: var(--skin-color);
  position: absolute;
  bottom: -6px;
  left: 0;
}

.aside .nav {
  margin-top: 50px;
}

.aside .nav li {
  margin-bottom: 20px;
  display: block;
}

.aside .nav li a {
  font-size: 16px;
  font-weight: 600;
  display: block;
  color: var(--text-black-900);
  padding: 5px 35px;
  border-bottom: 1px solid var(--bg-black-50);
}
.aside .nav li a.active {
  color: var(--skin-color);
}
.aside .nav li a i {
  margin-right: 15px;
}
.hidden {
  display: none !important;
}
/* home section css end*/

/* ABOUT section css start*/
/* about me sumaart start csss */

.section .container {
  padding-top: 60px;
  padding-bottom: 70px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 80px;
}
.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-black-900);
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 4px;
  width: 50px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
}
.section-title h2::after {
  content: "";
  height: 4px;
  width: 25px;
  background-color: var(--skin-color);
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 8px;
}
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about-text h3 {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-black-900);
}
.about-text h3 span {
  color: var(--skin-color);
}

.about-text p {
  font-size: 16px;
  line-height: 25px;
  color: var(--text-black-900);
}
/* about me sumaart end csss */
/* SKILL contact css start */
.personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.personal-info .info-item {
  flex: 0 0 50%;
  max-width: 50%;
}
.info-item p{
  
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--bg-black-50);
}
.info-item p span{
  font-weight: 400;
  color: var(--bg-black-700);
  margin-left: 4px;
  display: inline-block;
}
.personal-info .buttons{
  margin-top: 30px;
}
.personal-info .buttons .btn{
  margin-top: 10px;
  margin-right: 15px;
  letter-spacing: 1px;

}
.personal-info .buttons .btn1{
  padding: 15px 40px;
  letter-spacing: 1px;
}
.skill-item{
  max-width: 100%;
  flex: 0 0 100%;
}
.skill-item h5{
  line-height: 40px;
  font-weight: 600;
  font-size: 16px;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin-bottom: 20px;
}
.skill-item .progress{
background-color: var(--bg-black-50);
height: 7px;
border-radius:4px ;
width: 100%;
position: relative;
}
.skill-item .progress .progress-in{
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--skin-color);
}
.skill-item .skill-percent{
  
  position: absolute;
  top: -40px;
  right: 0;
  height: 100%;
  font-weight: 400;
  line-height: 40px;
  color: var(--text-black-900);
}
/* SKILL contact css emd */

/* About section css end*/
